<!--News Block-->
<div class="news-block col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
        <div class="image-box">
            <figure class="image"><a href="/blog/{{link}}"><img class="lazy-image"
                        src="/images/resource/image-spacer-for-validation.png"
                        data-src="/images/resource/blog-image-1.jpg" alt=""></a></figure>
        </div>
        <div class="lower-content">
            <div class="date">{{first date}} <span class="month">{{last date}}</span></div>
            <h3><a href="/blog/{{link}}">{{title}}</a></h3>
            <div class="text">{{body}}.</div>
            <div class="post-meta">
                <ul class="clearfix">
                    <li><a href="#"><span class="icon fa fa-user"></span> Admin</a></li>
                    <li><a href="#"><span class="icon fa fa-share-alt"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>