<!--Slide-->
<div class="slide-item mt-5">
    <div class="event-block">
        <div class="inner-box clearfix">
            <div class="image-column">
                <div class="image-box"><img class="lazy-image owl-lazy" src="/images/events/{{image}}"
                        data-src="/images/events/{{image}}" alt=""></div>
                <div class="bg-image-layer lazy-image" data-bg="url('/images/events/{{image}}')"></div>

            </div>
            <div class="text-column">
                <div class="inner">
                    <h3>{{title}}</h3>
                    <ul class="info clearfix">
                        <li><span class="icon far fa-clock"></span> {{time}}</li>
                        <li><span class="icon fa fa-map-marker-alt"></span> {{location}}</li>
                    </ul>
                    <div class="text">{{details}}</div>

                </div>
            </div>
        </div>
    </div>
</div>